<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @admin.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @admin.lastName %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
