<h1>Listing rents</h1>

<table>
  <thead>
    <tr>
      <th>Moviename</th>
      <th>Username</th>
      <th>Daterent</th>
      <th>Datetoreturn</th>
      <th>Datereturned</th>
      <th>Returned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.movieName %></td>
        <td><%= rent.userName %></td>
        <td><%= rent.dateRent %></td>
        <td><%= rent.dateToReturn %></td>
        <td><%= rent.dateReturned %></td>
        <td><%= rent.returned %></td>
        <td><%= link_to 'Show', rent %></td>
        <td><%= link_to 'Edit', edit_rent_path(rent) %></td>
        <td><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent', new_rent_path %>
