<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @client.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @client.lastName %>
</p>

<p>
  <strong>Addressl1:</strong>
  <%= @client.addressL1 %>
</p>

<p>
  <strong>Addressl2:</strong>
  <%= @client.addressL2 %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @client.phoneNumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
