<nav id="topNavBar">
	<ul>
		<li> <%=image_tag "dvd-logo.png", size:"50x15" %></li>
		<li> <%= link_to "home", tupa_index_path %> </li>
		<li> <%= link_to "clients", clients_path %> </li>
		<li> <%= link_to "admin", admins_path %> </li>
		<li> <%= link_to "library", libraries_path %> </li>
		<li> <%= link_to "rent", rents_path %> </li>
	</ul>
</nav>